@tailwind base;
@tailwind components;
@tailwind utilities;


/* extracting classes */
@layer components {
  body {
    @apply bg-bg-light
  }
}


.section-description {
  display: grid;
  grid-template-columns: minmax(0, 200px) minmax(0, 100%);
  align-items: start;
}