@tailwind base;
@tailwind components;
@tailwind utilities;

/* extracting classes */
@layer components {
  body {
    @apply bg-bg-light;
  }

  .header {
    @apply h-[250px] bg-bg-dark flex items-center justify-between;
  }

  /* .header-container {
    @apply container mx-auto flex items-center justify-between;
  } */
  .header-container {
    @apply container mx-auto flex flex-col md:flex-row justify-between md:items-center h-full px-5;
  }
  .header-subtitle {
    @apply leading-[18px] text-text-light font-medium text-xs;
  }

  .header-title {
    @apply font-semibold text-4xl leading-[54px] text-text-dark;
  }
  /* 
  .social {
    @apply flex grid gap-[10px];
  } */

  .name {
    @apply mt-16 md:mt-0;
  }
  .social {
    @apply md:grid flex gap-[10px] pb-2 md:pb-0;
  }
  .social-item {
    @apply flex gap-[10px];
  }

  .social-caption {
    @apply leading-[18px] font-medium text-xs text-text-light;
  }

  .body-container {
    @apply container mx-auto mt-[100px] space-y-[100px] pb-[100px] px-5 md:px-0;
  }

  .section-title {
    @apply font-medium text-2xl tracking-[1px] text-text-light mb-[50px];
  }

  .description-text {
    @apply text-text-light text-sm font-normal leading-[21px];
  }
  .description-text a {
    @apply hover:underline
  }

  .soft-skill,
  .hard-skill,
  .personal-info-inner {
    @apply grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-5 xl:grid-cols-6 gap-[50px];
  }

  .experience-inner {
    @apply flex flex-col gap-[50px];
  }

  .badge {
    @apply inline-flex w-[180px] flex-col text-start relative after:w-[3px] after:h-full after:absolute after:-left-5 after:top-0 after:bg-gold;
  }

  .section-description {
    @apply flex flex-col;
  }
  .badge-mobile {
    @apply flex justify-between pb-3 mb-3 border-b-gold border-b-[1px];
  }
  .badge-mobile .badge-description {
    @apply text-end;
  }
  .badge-title {
    @apply font-semibold text-xs text-text-semidark tracking-[1px] leading-[18px] uppercase;
  }
  .badge-description {
    @apply flex font-medium text-xs leading-[18px] text-text-light;
  }
  .badge-tooltip {
    @apply group-hover:-top-12 group-hover:opacity-100 -top-10 opacity-0 absolute pointer-events-none transition-all left-0 z-50 bg-gold shadow-md text-white py-1 px-5 rounded-lg;
  }
}

.badge-tooltip::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 3px;
  border-left: 15px solid transparent;
  border-right: 15px silid transparent;
  border-bottom: 15px solid #dea000;
  transform: rotateZ(45deg);
  border-radius: 0 5px 0 5px;
}

@media (min-width: 768px) {
  .section-description {
    display: grid;
    grid-template-columns: minmax(0, 200px) minmax(0, 100%);
    align-items: start;
  }
}
